/* body{
    all: unset;
    overflow: hidden;
}
.nav-bar-vertical {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.nav-bar-horizontal {
    list-style: none;
    display: flex;
    flex-direction: row;
    background-clip: border-box;
    justify-content: left;
    align-items: center;
}
.menu-hide-show-container{
    display: flex;
    flex-direction: row;
    background-clip: border-box;
    justify-content: left;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.dropdown{
    background-color: transparent;
}

.menu-hide-show-img{
    user-select: none;
    max-height: 50px;
    transition: .25s transform ease;
}

.hide-show-img-container{
    width: 60px;
    height: 60px;
}

.rotate-90 {
    transform: rotate(90deg);
}

.menu-link-vert {
    user-select: none;
    text-align: center;
}

.menu-link-horiz {
    user-select: none;
    text-align: center;
}

.menu-link-vert:hover {
    background-color: lightcoral;
}

.menu-link-horiz:hover {
    background-color: lightseagreen;
}

.webpage {
    display: grid;
}

@media only screen and (max-width: 500px) {
    .menu-hide-show-container{
        height: 10vh;     
        width: 100%;
    }
    .nav-bar-horizontal {
        overflow: hidden;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        width: 100%;
    }
    .nav-bar-vertical {
        grid-column-end: 5;
    }
    .menu-link-horiz{
        width: 100%;
        padding: 0.5em 0;
    }
} */

.hide-show-img{
    width: 60px;
    height: 60px;
}