.hide-show-img{
    width: 60px;
    height: 60px;
    transition: .25s transform ease;
}
.rotate-90 {
    transform: rotate(90deg);
}
.hide-show-img-container{
    height: 60px;
    width: 60px;
}

#main-nav-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    align-items: center;
    justify-content: left;
}
#main-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}
.main-nav-top-level-ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    flex: 0 0 0;
    height: 60px;
}

.main-nav-top-level-ul li {
    all: unset;
    margin-left: 0rem;
    display: inline-flex;
    width: fit-content;
    height: 100%;
}

.main-nav-top-level-ul ul {
    all: unset;
    display: none;
    margin-left: 0rem;
}

.main-nav-top-level-ul > li{
    display:block;
    align-self: center;
    margin-right: 1rem;
}

.main-nav-top-level-ul li a{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    white-space: nowrap;
    height: 100%;
}

.main-nav-top-level-ul > li > ul ul {
    align-self: center;
    margin-left: 1rem;
}

.main-nav-top-level-ul li:hover > ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}