.settings-hide-show-container {
    background-clip: border-box;
    background-color: transparent;
    grid-column-start: -3;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.settings-hide-show-img {
    user-select: none;
    max-height: 50px;
    transition: .25s transform ease;
    text-align: right;
}

.settings-rotate-90 {
    transform: rotate(90deg);
}
.settings-nav-bar-vertical {
    background-clip: border-box;
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.settings-hide-show-img-container{
    height: 50px;
    display: flex;
    justify-content: flex-end;
}